@page
@model ProyectoCiclo3.App.Frontend.Pages.DetailsAvionModel
@{
    var avion = Model.Avion;
}
 
<ul class="list-group list-group-flush">
  <li class="list-group-item"> <b>id: </b> @avion.id</li>
  <li class="list-group-item"> <b>Marca: </b> @avion.marca</li>
  <li class="list-group-item"> <b>Modelo: </b> @avion.modelo</li>
  <li class="list-group-item"><b>Numero Asientos: </b> @avion.numero_asientos</li>
  <li class="list-group-item"><b>Numero de Baños: </b> @avion.numero_banos</li>
  <li class="list-group-item"><b>Capacidad maxima: </b> @avion.capacidad_maxima</li>
</ul>	
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
