@page
@model ProyectoCiclo3.App.Frontend.Pages.DetailsAvionModel
@{
    var avion = Model.Avion;
}
 
<link rel="stylesheet" href="~/css/Delails.css" />

<section class="form_wrap">

        <section class="cantact_info">
            <section class="info_title">
                <span ></span>
                
            </section>
            
        </section>

        <form action="" class="form_contact">
            <h2>Ver Aviones</h2>
            <div class="user_info">
                <ul class="list-group list-group-flush">
                <li class="list-group-item"> <b>Id: </b> @avion.Id</li>
                <li class="list-group-item"> <b>Marca: </b> @avion.Marca</li>
                <li class="list-group-item"> <b>Modelo: </b> @avion.Modelo</li>
                <li class="list-group-item"><b>Numero asientos: </b> @avion.Numero_asientos</li>
                <li class="list-group-item"><b>Numero de baños: </b> @avion.Numero_banos</li>
                <li class="list-group-item"><b>Capacidad Máxima: </b> @avion.Capacidad_maxima</li>
              </ul>	
              
            </div>
              <a href="javascript:history.back()"><button class="btn btn-primary hBack"  type="button">Atras</button></a>
        </form>

    </section>