@page
@model ProyectoCiclo3.App.Frontend.Pages.EditAvionModel
@{
    var avion = Model.Avion;
}

<div class="text-center">
  <form method="POST">
    <label for="id" class="form-label">Id:</label>
    <input type="text" class="form-control" id="id" name="id" placeholder="Id" asp-for="@avion.id">
    <label for="marca" class="form-label">Marca:</label>
    <input type="text" class="form-control" id="marca" name="marca" placeholder="Marca" asp-for="@avion.marca">
    <label for="modelo" class="form-label">Modelo:</label>
    <input type="number" class="form-control" id="modelo" name="modelo" placeholder="Modelo" asp-for="@avion.modelo">
    <label for="numero_asientos" class="form-label">Numeros de asientos: </label>
    <input type="number" class="form-control" id="numero_asientos" name="numero_asientos" placeholder="Numero asientos" asp-for="@avion.numero_asientos">
    <label for="numero_banos" class="form-label">Numero de baños:</label>
    <input type="number" class="form-control" id="numero_banos" name="numero_banos" placeholder="Numero baños" asp-for="@avion.numero_banos">
    <label for="capacidad_maxima" class="form-label">Capacidad maxima:</label>
    <input type="number" class="form-control" id="capacidad_maxima" name="capacidad_maxima" placeholder="Capacidad maxima" asp-for="@avion.capacidad_maxima">
    <hr>
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>