@page
@model ProyectoCiclo3.App.Frontend.Pages.ListAvionModel
@{
}

<h1>Listado de Aviones</h1>
<table class="table">
    @foreach (var avion in Model.Aviones)
    {
        <tr>
            <td>@avion.id</td>
            <td>@avion.marca</td>
            <td>@avion.modelo</td>
            <td>@avion.numero_asientos</td>
            <td>@avion.numero_banos</td>
            <td>@avion.capacidad_maxima</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-avionId="@avion.id">Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-avionId="@avion.id">Editar</a>
              <form method="POST">
            <input type="number" class="d-none" id="id" asp-for="@avion.id">
              <button type="submit"class="btn btn-danger">Eliminar</button>
            </form>
              </td>
        </tr>
    }